    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body,
    html {
        height: 100%;
        width: 100%;
    }
    
    .main {
        width: 100%;
        height: 40%;
        background-color: #222;
        display: flex;
        padding: 20px;
        gap: 10px;
        overflow: auto;
    }
    
    .class1 {
        height: 200px;
        width: 200px;
        background-color: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        flex-shrink: 0;
    }
    
    .main::-webkit-scrollbar {
        display: none;
    }
    
    .class1 img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }